:root{
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;;
}

/** Menu de navegacion **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;

}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);


}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;  
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.2s;
}
.menu .list-container .lists li a.active{
    background: var(--red);
    color: #fff;
}
.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}
.btn-menu > .fa-bars{
    display: none;
}

/** Menu de navegacion **/

/** IMG header **/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/3533154.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: hover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-header .welcome  > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background: var(--blue);
}

/** IMG header **/

/** Acerca de  Nosotros **/
.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}
.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s ;
}
.acerca-de .info-container .about-more button:hover{
    background: var(--blue);
}
/** Acerca de Nosotros **/

/** Nuestros Proyectos **/
.our-projects{
    position: relative;
    width: 100%;
    height: 100%;
    background:url(../img/2547942.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.our-projects .deg-background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.8);
}
.our-projects .ejezproject{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.our-projects .container-project{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.our-projects .container-project .title-project{ 
    width: 90%;
    margin: auto;
    padding-top: 10px;
    border: solid 2px #fff;
    text-align: center;
}

.our-projects .container-project .title-project h2{
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.our-projects .container-project .title-project hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}
.our-projects .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-top: 100px;
}
.our-projects .project-img img{
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/** Nuestros Proyectos **/

/** Testimonios **/

.testimonios{
    width: 100%;
    margin-top: 120px;
}
.testimonios .testimonios-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.testimonios .testimonios-title h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}
.testimonios .testimonios-title hr{
    width: 60%;
    margin: auto;
    height: 3px;
    background: var(--black);
    border: none;
}
.testimonios .box-testimonios{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonios .box-testimonios .card-testimonios{
    width: 45%;
    margin: 20px;
}
.testimonios .box-testimonios .card-testimonios .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonios .box-testimonios .card-testimonios .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.testimonios .box-testimonios .card-testimonios .testimonios-text{
    widows: 100%;
    border: 2px solid var(--red);
    margin-top: 35px;
    padding: 20px;
    border-radius: 20px;
    transition: 200ms;
}
.testimonios .box-testimonios .card-testimonios .testimonios-text h4{
    color: var(--red);
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.testimonios .box-testimonios .card-testimonios .testimonios-text p{
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}
.testimonios .box-testimonios .card-testimonios .testimonios-text:hover {
    border: 2px solid var(--blue);
}
.testimonios .box-testimonios .card-testimonios .testimonios-text:hover h4{
    color: var(--blue);
}

/** Testimonios **/

/** Footer **/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/3533154.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.footer .ejezfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    width: 90%;
    padding: 150px;
    margin: auto;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 15px;
}
.footer .footer-content .footer-title h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer .footer-content .footer-title hr{
    width: 80%;
    height: 2px;
    background: #fff;
    margin: auto;
}
.footer .footer-content .formulario-content{
    width: 60%;
    background: #fff;
    border-radius: 20px;
    border: 2px solid var(--red);
    margin: 50px auto;
    padding: 30px;
}
.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color: var(--black);
    font-size: 20px;
    margin: 30px 0px 10px 0px;
}
.footer .footer-content .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 24px;
    outline: none;
    border: 2px solid var(--red);
    text-align: center;
    font-size: 18px;
    color: var(--black);
}
.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    height: 100px;
    margin: auto;
    border-radius: 24px;
    outline: none;
    border: 2px solid var(--red);
    font-size: 18px;
    color: var(--black);
    padding: 20px;
}
.footer .footer-content .formulario-content #formulario .send{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: px 0px;
}
.footer .footer-content .formulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .footer-content .formulario-content #formulario .send button:hover{
    color: #fff;  
    background-color: var(--blue);
}
.footer .footer-content .formulario-content #formulario .mensaje-form{
    padding-top: 30px;
    font-size: 16px;
    text-align: center;
}
.footer .footer-text{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 40px;
    background: rgba(0, 0,0, 0.8);
    border-top: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-text p{
    color: #fff;
    font-size: 20px;
}

/** Footer **/

/** Media Query  **/
@media  screen and (max-width: 900px) {
    .btn-menu > .fa-bars {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 28px;
    }
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }
    .menu .list-container  .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 50px solid var(--red);

    }
    .menu .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
        padding: 10px;
    }
    .menu .list-container .lists li a{
        font-size: 20px;
        text-align: center;
    }
    .menu .list-container .lists li a.active{
        background: none;
        color: var(--red);
    }
    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--blue);
    }
}